<%# coding: utf-8 %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- CSSファイル読み込み -->
    <link rel="stylesheet" href="./stylesheet.css">
    <title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>蔵書データの修正</h2>
<p>蔵書データを下記のように修正しました | 
<a href='list.erb'>蔵書データの表示</a> |
<a href='index.html'>メニュー画面に戻る</a></p>
<hr>
<table>
    <th>項目名</th><th>修正後のデータ</th>
<% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
    <tr>
    <td><%= name %></td>
    <td><%= req.query[name] %></td>
    </tr>
<% end %>
<hr>
</body>
</html>