<%# coding: utf-8 %>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- リセットCSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <!-- CSSファイル読み込み -->
    <link rel="stylesheet" href="./stylesheet.css">
    <title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>指定したidはすでに使われています</h2>
<p>登録データを変更してから実行してください |
<a href='entry.erb'>蔵書データの登録</a> |
<a href='list.erb'>蔵書データの表示</a> |
<a href='index.html'>メニュー画面に戻る</a></p>
<hr>
</body>
</html>