<%# coding: utf-8%>
<% fruits = ['apple', 'banana', 'cherry', 'fig', 'grape'] %>
<ul>
<% fruits.each do |fruit| %>
    <% if /a/ =~ fruit %>
    <li><%= fruit %>: I like it.</li>
    <% else %>
    <li><%= fruit %></li>
    <% end %>
<% end %>
</ul>